<div class="detail-container"></div>
<div class="thumbs-container"></div>
<div class="results-container"></div>
<div role="button" tabindex="0" class="close-detail">Close</div>
<div role="button" tabindex="0" class="next-question">Next</button>
