<div class="results__title">You're a business etiquette expert</div>
<div class="results__score">7/8</div>
<div class="results__copy">Lorem ipsum</div>
<div class="results__footer">
	<a href="" class="results__button">Explore the hub</a>
	<button class="results__button results__restart">Restart the test</button>
	<div class="results__social">
		<a href="" class="results__social-link">facebook</a>
		<a href="" class="results__social-link">twitter</a>
		<a href="" class="results__social-link">linkedin</a>
		<a href="" class="results__social-link">email</a>
	</div>
</div>