<div class="results__title">{{ title }}</div>
<div class="results__score"></div>
<div class="results__copy">{{{ copy }}}</div>
<div class="results__footer">
	<a href="http://www.theguardian.com/trade-boost" class="results__button">Explore the hub</a>
	<div role="button" tabindex="0" class="results__button results__restart">Restart the test</div>
	<div class="results__social">
		<div role="button" tabindex="0" class="results__social-link results__social-link--facebook">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-201 412.4 8 17">
				<path fill="#ffffff" d="M-193.1,421.4h-3v8h-2.9v-8h-2v-2.9h2v-2.4c0-1.9,1.1-3.7,4-3.7c1.2,0,2,0.1,2,0.1v3h-1.8c-1,0-1.2,0.5-1.2,1.3v1.8h3 L-193.1,421.4z"/>
			</svg>
		</div>
		<div role="button" tabindex="0" class="results__social-link results__social-link--twitter">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-240.9 378.2 16.9 13.8">
				<path fill="#ffffff" d="M-225.7,381.4v0.5c0,4.7-3.5,10.1-9.9,10.1c-2,0-3.8-0.6-5.3-1.6c0.3,0,0.6,0.1,0.8,0.1c1.6,0,3.1-0.6,4.3-1.5c-1.5,0-2.8-1-3.3-2.4c0.2,0,0.4,0.1,0.7,0.1l0.9-0.1c-1.6-0.3-2.8-1.8-2.8-3.5c0.5,0.3,1,0.4,1.6,0.4c-0.9-0.6-1.6-1.7-1.6-2.9c0-0.6,0.2-1.3,0.5-1.8c1.7,2.1,4.3,3.6,7.2,3.7c-0.1-0.3-0.1-0.5-0.1-0.8c0-2,1.6-3.5,3.5-3.5c1,0,1.9,0.4,2.5,1.1c0.8-0.1,1.5-0.4,2.2-0.8c-0.3,0.8-0.8,1.5-1.5,1.9c0.7-0.1,1.4-0.3,2-0.5C-224.4,380.3-225,380.9-225.7,381.4z"/>
			</svg>
		</div>
		<div role="button" tabindex="0" href="" class="results__social-link results__social-link--linkedin">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-238 378.9 13.1 13">
				<path fill="#ffffff" d="M-236.4,378.9c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6C-238,379.6-237.3,378.9-236.4,378.9z M-237.8,383.2h2.7v8.7h-2.7L-237.8,383.2L-237.8,383.2z M-233.4,383.2h2.6v1.2h0c0.4-0.7,1.2-1.4,2.6-1.4c2.7,0,3.2,1.8,3.2,4.1v4.8h-2.7v-4.2c0-1,0-2.3-1.4-2.3c-1.4,0-1.6,1.1-1.6,2.2v4.3h-2.7L-233.4,383.2"/>
			</svg>
		</div>
		<a href="mailto:" class="results__social-link results__social-link--email">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-242 377.9 18 13">
				<path fill="#ffffff" d="M-226.8,382.6l-0.4-0.4l-5.7,2.7l-5.7-2.7l-0.3,0.4l6,4.9C-232.9,387.5-226.8,382.6-226.8,382.6z M-225.6,377.9h-14.9l-1.5,2.5v9.3l1.6,1.2h14.9l1.5-1.2v-9.3L-225.6,377.9z M-226.1,388.7h-13.8v-8.6h13.8V388.7z"/>
			</svg>
		</a>
	</div>
</div>