.detail-container {
	//opacity: 0;
	overflow: hidden;
	//transition: opacity 0.3s;
}

.results-container {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	position: absolute;
}

&.question-selected {
	position: relative;
	height: auto !important;

	.detail-container {
		opacity: 1;
	}
}

&.results-view {
	height: auto !important;

	.detail-container {
		position: absolute;
	}

	.results-container {
		position: relative;
		visibility: visible;
		opacity: 1;
		transition: opacity 0.3s 0.5s, visibility 0s 0.5s;
		z-index: 1;
	}
}

@media screen and (min-width: $bp-desktop) {
	.detail-container {
		left: 0;
		top: 0;
		width: 100%;
	}
}