.question {
	$font-size: 12;

	padding-top: 46px;
	font-size: #{$font-size}px;
	line-height: 14 / $font-size;
	position: absolute;
	visibility: hidden;
	top: 0;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s 0s;

	&.is-selected {
		position: relative;
		visibility: visible;
		opacity: 1;
		transform: none;
		transition: visibility 0s 0s, opacity 0.5s 0s;
	}
}

.question--answered {
	overflow: hidden;

	&.is-selected {
		height: auto;
	}
}

.question__next-button {
	border: 0;
	background: $color-yellow;
	color: $button-text-color;
	padding: 5px 25px 5px 10px;
	border-radius: 13px;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	margin-top: 10px;
	float: right;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	position: absolute;

	&:after {
		position: absolute;
		content: '';
		background: url(../icons/arrow.svg) center center no-repeat;
		right: 8px;
		top: 50%;
		height: 12px;
		width: 12px;
		margin-top: -6px;
		background-size: contain;
	}

	&.is-active {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.3s 0s, visibility 0s 0s;
		position: relative;
	}
}

@media screen and (max-width: 400px) {
	.question {
		padding-top: 12.5%;
	}
}


@media screen and (max-width: $bp-desktop - 1) {
	$font-size: 14;

	.question {
		font-size: #{$font-size}px;
		line-height: 16 / $font-size;
	}

}

@media screen and (min-width: 860px) {
	$font-size: 14;

	.question {
		font-size: #{$font-size}px;
		line-height: 16 / $font-size;
	}

}

@media screen and (min-width: 960px) {
	$font-size: 16;

	.question {
		font-size: #{$font-size}px;
		line-height: 19 / $font-size;
	}
}

.question__image-holder {
}

.question__image {
	display: block;
	max-width: 100%;
}

.question:hover .question__image {
}

.question__country {
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	color: #595959;
	margin: 0 0 5px;
}

.question__details {
	border-top: 2px solid $color-yellow;
	border-bottom: 2px solid $color-yellow;
	padding: 1em 0;
}

.question__description {
	color: #737373;
}

.question__option-list {
	margin: 1em 0 0;
}

.question__option {
	padding: 8px 8px 8px 46px;
	background: $color-grey-1;
	border: 0;
	display: block;
	width: 100%;
	text-align: left;
	margin: 0.5em 0;
	position: relative;
	min-height: 46px;
	color: #767676;
	box-sizing: border-box;
	transition: background-color 0.3s;

	&[role="button"]:hover {
		background: #e1e3e5;
	}

	&:before {
		content: 'A';
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $color-grey-2;
		color: $color-white;
		position: absolute;
		left: 8px;
		top: 8px;
		text-align: center;
		line-height: 30px;
		transition: background-color 0.3s;
	}

	&:nth-child(2):before {
		content: 'B';
	}

	&:nth-child(3):before {
		content: 'C';
	}

	&.is-correct:before {
		background: $color-green;
	}

	&.is-incorrect:before {
		background: $color-red;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.question__answer {
	color: #767676;
	transform: scale(0.5);
	transform-origin: center top;
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
}

.question--answered .question__answer {
	visibility: visible;
	opacity: 1;
	transform: none;
	margin-top: 1em;
}

.response {
	text-transform: uppercase;
	font-weight: bold;
}

.response--correct {
	color: $color-green;
}

.response--wrong {
	color: $color-red;
}

.response__correct-answer {
	font-weight: bold;
}

@media screen and (max-width: ($bp-desktop - 1)) {

	.question__image-holder {
		padding-bottom: 50%;
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.question__image {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

}

@media screen and (min-width: $bp-desktop) {
	.question {
		&:after {
			content: '';
			clear: both;
			display: block;
			width: 100%;
			height: 1px;
			margin-bottom: -1px;
		}

		transition: transform 0s 0s, opacity 0s 0s, visibility 0s 0s;
		transform: translateX(50%);

		&.is-selected {
			transform: none;
			transition: transform 0.5s 0.4s, opacity 0.5s 0.4s, visibility 0s 0s;
			transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
		}

		&.is-old-selected {
			transform: translateX(-50%);
			transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0.3s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
		}

		&.question--answered.is-old-selected {
			transform: scale(0.5);
		}
	}

	.question__image-holder {
		width: 60%;
		float: left;
	}

	.question__details {
		width: calc(40% - 1em);
		float: right;
		margin-left: 1em;
	}

	// .question__answer {
	// 	position: absolute;
	// 	left: 0;
	// 	width: 60%;
	// 	background: rgba($color-white, 0.95);
	// 	bottom: 54px;
	// 	padding: 1em;
	// 	box-sizing: border-box;
	// 	opacity: 0;
	// 	transition: opacity 0.3s;
	// }

	// .question--answered .question__answer {
	// 	opacity: 1;
	// }

}

@media screen and (min-width: 1300px) {
	.question__image-holder {
		width: 700px;
	}

	.question__details {
		width: calc(100% - 700px - 1em);
	}
}