.results {
	padding: 46px 20px 20px;
	max-width: 480px;
	margin: 0 auto;
	box-sizing: border-box;
}

@media screen and (max-width: 400px) {
	.results {
		padding-top: 12.5%;
	}
}

.results__title {
	background: $color-yellow;
	color: #353535;
	text-align: center;
	font-size: 20px;
	padding: 0.5em;
	line-height: 1;
	margin-bottom: 15px;
}

.results__score {
	$size: 100px;
	$font-size: 26px;

	display: block;
	margin: 0 auto 15px;
	width: $size;
	height: $size;
	border-radius: $size / 2;
	text-align: center;
	font-size: $font-size;
	line-height: 1;
	padding: #{($size - $font-size) / 2} 0;
	border: 1px solid $color-yellow;
	box-sizing: border-box;
}

.results__copy {
	$font-size: 16;

	font-size: #{ $font-size }px;
	line-height: #{ 19 / $font-size };
}

.results__footer {
	clear: both;
	padding-top: 15px;
}

.results__button {
	display: inline-block;
	border: 0;
	background: $color-yellow;
	color: $button-text-color;
	padding: 5px 25px 5px 10px;
	border-radius: 13px;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	text-decoration: none;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		background: url(../icons/arrow.svg) center center no-repeat;
		right: 8px;
		top: 50%;
		height: 12px;
		width: 12px;
		margin-top: -6px;
		background-size: contain;
	}
}

.results__social {
	display: inline-block;
}

.results__social-link {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	background: #333;
	color: #fff;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	transition: transform 0.3s;

	svg {
		display: block;
		max-width: 50%;
		max-height: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		transform: scale(1.1);
	}
}

.results__social-link--facebook {background: #3772ad;}
.results__social-link--twitter {background: #05bbf0;}
.results__social-link--linkedin {
	background: #027cab;

	svg {
		top: 45%;
		max-width: 45%;
		max-height: 45%;
	}
}
.results__social-link--email {
	background: #818181;

	svg {
		max-width: 55%;
		max-height: 55%;
	}
}

@media screen and (max-width: $bp-desktop - 1) {
	.results__footer {
		text-align: center;
	}

	.results__button {
		margin: 0 auto 10px;
		max-width: 180px;
		box-sizing: border-box;
		display: block;
	}

	.results__social-link {
		margin-right: 8px;
	}
}

@media screen and (min-width: $bp-desktop) {
	.results {
		padding: 46px 40px 40px;
		max-width: 680px;

		&:before {
			margin-bottom: 20px;
		}
	}

	.results__score {
		$size: 160px;
		$font-size: 44px;

		margin: 0;
		width: $size;
		height: $size;
		border-radius: $size / 2;
		font-size: $font-size;
		padding: #{($size - $font-size) / 2} 0;
		float: left;
	}

	.results__copy {
		margin-left: 180px;
	}

	.results__title {
		font-size: 32px;
		margin-bottom: 40px
	}

	.results__footer {
		padding-top: 30px;
	}

	.results__button {
		margin-right: 10px;
		padding: 12px 32px 12px 16px;
		border-radius: 20px;

		&:after {
			width: 16px;
			height: 16px;
			margin-top: -8px;
			right: 10px;
		}
	}

	.results__social-link {
		width: 32px;
		height: 32px;
		border-radius: 16px;
	}
}

@media screen and (min-width: 800px) {
	.results {
		padding: 46px 90px 50px;
	}

}