@keyframes answer {

	50% {
		transform: scale(1.4);
	}

}

.thumb {
	background: $color-yellow;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.4s;
	width: 2%;

	svg {
		visibility: hidden;
		position: absolute;
		left: 1em;
		top: 1em;
		width: calc(100% - 2em);
		height: calc(100% - 2em);
		fill: none;
		stroke: #ffffff;
		stroke-dasharray: 200;
	}

	&:not(:hover) svg {
		stroke-dashoffset: 200 !important;
	}

	&:hover svg {
		visibility: visible;
		transition: stroke-dashoffset 0.5s;
	}

	&.is-answered {
		background: $color-black;
		animation: answer 0.4s ease-in-out;
		
		.thumb__image {
			transition: transform 0.6s ease-in-out;
			transform: rotate(360deg);
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		svg {
			display: none;
		}
	}

	&.is-answered--wrong:after {
		background: url(../icons/cross.svg) center center no-repeat;
		background-size: contain;
		width: 45%;
		height: 45%;
	}

	&.is-answered--correct:after {
		background: url(../icons/tick.svg) center center no-repeat;
		background-size: contain;
		width: 50%;
		height: 50%;
	}

}

&.map-view {
	&.intro .thumb {
		left: 50% !important;
		top: 50% !important;
		width: 20% !important;
		opacity: 0;
		transform: translate(-50%, 50%);
	}

	.thumb {
		width: 2%;
		cursor: auto;
	}

	&.intro .thumb__text {
		opacity: 1;
	}

	.thumb__text {
		opacity: 0;
	}

	.thumb .thumb__image-holder .thumb__image {
		opacity: 1;
	}

	$appear-duration: 0.5s;
	$static-duration: 0.2s;
	$shrink-duration: 0.5s;
	$step-delay: -0.4s;
	$full-step-duration: $appear-duration + $static-duration + $shrink-duration + $step-delay;
	//$easing: cubic-bezier(.6,-.28,.74,.05);
	$easing: cubic-bezier(0.6,-0.28, 0.35, 1);

	@for $i from 0 through 7 {
		.thumb:nth-child(#{ $i + 1 }) { 
			transition: 
				left $shrink-duration $easing #{ $full-step-duration * $i + ($appear-duration + $static-duration) }, 
				top $shrink-duration $easing #{ $full-step-duration * $i + ($appear-duration + $static-duration) }, 
				width $shrink-duration $easing #{ $full-step-duration * $i + ($appear-duration + $static-duration) }, 
				opacity $appear-duration #{ $full-step-duration * $i },
				transform #{ $appear-duration + ($static-duration / 2)} cubic-bezier(0, 0, 0.2, 1) #{ $full-step-duration * $i };

			.thumb__text {
				transition: opacity #{ $shrink-duration / 2 } #{ $full-step-duration * ($i) + ($appear-duration + $static-duration) };
			}
		}
	}
}

$delay-step: 0.05s;

@for $i from 1 through 8 {
	.thumb:nth-child(#{$i}) { 
		transition-delay: $delay-step * $i; 

		.thumb__image {
			transition-delay: 0s, #{$delay-step * $i}; 
		}

		.thumb__text {
			transition-delay: #{0.4s + ($delay-step * $i)}, 0s; 
		}
	}
}

&.question-selected {
	@for $i from 1 through 8 {
		.thumb:nth-child(#{9 - $i}) { 
			transition-delay: $delay-step * $i; 

			.thumb__image {
				transition-delay: 0s, #{$delay-step * $i}; 
			}
		}
	}
}

.thumb__image-holder {
	
}

.thumb__image {
	display: block;
	max-width: 100%;
	transition: opacity 0.3s, border-radius 0.4s;
	will-change: opacity;
}

.thumb:hover .thumb__image,
.thumb.is-selected .thumb__image, 
.thumb.is-answered .thumb__image{
	opacity: 0.23;
}

.thumb__text {
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	color: $color-white;
	text-transform: uppercase;
	line-height: 1;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
	transition: opacity 0.3s 0.8s, visibility 0s 0s;
}

.thumb:hover .thumb__text {
	text-shadow: none;
}

&.question-selected,
&.map-view {
	.thumb {
		border-radius: 50%;

		svg {
			display: none;
		}
	}

	.thumb__image {
		border-radius: 50%;
		overflow: hidden;
	}

}

&.question-selected {
	.thumb__text {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s 0s, visibility 0s 0.3s;
	}
}

&.map-view {
	.thumb {
		transform: translate(-50%, -50%);
	}

	.thumb__text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 110%;
		text-align: center;
		width: 100px;
		text-shadow: none;
		color: #666;
	}
}

&:not(.question-selected):not(.map-view) {
	.thumb {
		font-size: 12px;
	}

	.thumb__text {
		white-space: nowrap;
	}
}

@media screen and (min-width: 340px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 400px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 16px;
		}
	}
}


@media screen and (min-width: $bp-desktop) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 740px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 16px;
		}
	}
}

@media screen and (min-width: 980px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 1140px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 20px;
		}
	}
}

@media screen and (min-width: 1300px) {
	&:not(.question-selected):not(.map-view) {
		.thumb {
			font-size: 24px;
		}
	}
}