@keyframes answer {

	50% {
		transform: scale(1.4);
	}

}

@keyframes wobble {
	0% { transform: translate(-50%, -50%) scale(1); }
	10% { transform: translate(-55%, -53%) scale(1.025); }
	20% { transform: translate(-57%, -49%) scale(1.05); }
	30% { transform: translate(-49%, -52%) scale(1.025); }
	40% { transform: translate(-48%, -45%) scale(1); }
	50% { transform: translate(-50%, -47%) scale(0.975); }
	60% { transform: translate(-48%, -53%) scale(0.95); }
	70% { transform: translate(-55%, -49%) scale(0.975); }
	80% { transform: translate(-52%, -46%) scale(1); }
	90% { transform: translate(-50%, -48%) scale(1.025); }
	100% { transform: translate(-46%, -52%) scale(1); }
}

.thumb {
	background: $color-yellow;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.4s;
	width: 2%;
	border-radius: 50%;

	&.is-answered {
		background: $color-black;
		animation: answer 0.4s ease-in-out;

		.thumb__image {
			transition: transform 0.6s ease-in-out;
			transform: rotate(360deg);
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&.is-answered--wrong {
		background: $color-red;

		&:after {
			background: url(../icons/cross.svg) center center no-repeat;
			background-size: contain;
			width: 45%;
			height: 45%;
		}
	}

	&.is-answered--correct {
		background: $color-green;

		&:after {
			background: url(../icons/tick.svg) center center no-repeat;
			background-size: contain;
			width: 50%;
			height: 50%;
		}
	}
}

.thumb__image {
	border-radius: 50%;
	overflow: hidden;
	display: block;
	max-width: 100%;
	transition: opacity 0.3s, border-radius 0.4s;
	will-change: opacity;
}

$delay-step: 0.05s;

@for $i from 1 through 8 {
	.thumb:nth-child(#{$i}) { 
		transition-delay: $delay-step * $i; 

		.thumb__image {
			transition-delay: 0s, #{$delay-step * $i}; 
		}
	}
}



.thumb.is-selected .thumb__image, 
.thumb.is-answered .thumb__image{
	opacity: 0.23;
}

@media screen and (max-width: (400px)) {
	&.question-selected,
	&.results-view {

		.thumb {
			width: calc(10%) !important;
		}

		@for $i from 0 through 7 {
			.thumb:nth-child(#{$i + 1}) { 
				left: #{$i * 12.857142857 }% !important; 
			}
		}

	}
}

&.map-view {
	&.intro .thumb {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}

	.thumb {
		width: 4%;
		cursor: auto;
		transform: translate(-50%, -50%);
		animation: wobble 20s infinite;
	}

	.thumb .thumb__image-holder .thumb__image {
		opacity: 1;
	}

	$appear-duration: 0.4s;
	$step-delay: 0.1s;
	$full-step-duration: $appear-duration + $step-delay;
	$easing: cubic-bezier(0.24, 1.26, 0.6, 1.4);

	@for $i from 0 through 7 {
		.thumb:nth-child(#{ $i + 1 }) { 
			transition: 
				opacity $appear-duration $easing #{ $step-delay * $i },
				transform $appear-duration $easing #{ $step-delay * $i };
			animation-delay: #{ 0.5s * $i };
		}
	}
}

&.results-view {

	@for $i from 0 through 7 {
		.thumb:nth-child(#{8 - $i}) { 
			transition-delay: $delay-step * $i; 

			.thumb__image {
				transition-delay: 0s, #{$delay-step * $i}; 
			}
		}
	}

}