$color-white: #fff;
$color-black: #000;
$color-yellow: #ffd257;
$color-grey-1: #f1f3f5;
$color-grey-2: #c3c3c4;
$color-green: #08AB96;
$color-red: #FB5846;

$gridGutter: 4;

$bp-desktop: 640px; 

$button-text-color: #6d6d6d;