@import 'variables';

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

/**
  * Use pasteup for deployed app. Use local folder, for local: '/bower_components/guss-webfonts/webfonts'
  */
//match: /\/\/pasteup\.guim\.co\.uk\/fonts\/0\.1\.0/g,
//replacement: '/bower_components/guss-webfonts/webfonts'

@import '../vendor/pasteup-palette/src/_palette.scss';
@import '../vendor/guss-webfonts/src/_webfonts.scss';
@import '../vendor/guss-typography/_typography.scss';

@include guss-webfonts('Guardian Agate Sans 1 Web');
@include guss-typography-defaults;

.js-on.is-modern .content--interactive .element-interactive {background: none;}

.ups-interactive {
	position: relative;
	font-family: 'Guardian Agate Sans 1 Web', sans-serif;
	transition: height 0.3s 0.8s;
	//overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../icons/map.svg) center center no-repeat;
		background-size: contain;
		opacity: 0;
		transition: opacity 0.5s;
		//z-index: -1; 
	}

	&.map-view:before {
		opacity: 0.1;
	}

	&.question-selected {
		transition: height 0.3s 0s;
	}

	[role="button"],
	button {
		font-family: 'Guardian Agate Sans 1 Web', sans-serif;
		cursor: pointer;
		box-sizing: border-box;

		&:focus {
			outline: 0;
			box-shadow: 0 0 3px rgba(0,0,0,0.75);
		}
	}

	@import 'reset';
	@import 'app';
	@import 'thumb';
	@import 'detail';
	@import 'results';
	@import 'intro';
}

@media screen and (min-width: 1140px) {
	.ups-interactive {
		//margin: 0 0 0 160px;
		margin: 0 auto;
		max-width: 80%
	}
}

@media screen and (min-width: 1300px) {
	.ups-interactive {
		//margin: 0 0 0 240px;
		max-width: 75%;
	}
}